<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper>
<mapper namespace="com.xiaoniu.bean.SchoolMapper">

    <select id="queryList" parameterType="com.xiaoniu.bean.School" resultType="com.xiaoniu.bean.School">
        select id, name from school
    </select>

    <select id="querySchoolName" parameterType="com.xiaoniu.bean.School" resultType="com.xiaoniu.bean.School">
        select id, name from school where id= #{school.id}
    </select>

    <insert id="insertSchoolName" parameterType="com.xiaoniu.bean.School">
        insert into school(name) values(#{name})
    </insert>
    <update id="updateSchoolName" parameterType="com.xiaoniu.bean.School">
        update school set name=#{name} where id=#{id}
    </update>
    <delete id="deleteSchoolName" parameterType="com.xiaoniu.bean.School">
        delete
        from school
        where id = #{id};
    </delete>


</mapper>
